textarea{
    resize:none;
}
header{
    display:flex;
    flex-direction:column;
    align-items:center;
}
body{
    background-color:#99b199;
}
#submitEntry{
    display:flex;
    margin-left:45px;
}
#journal{
    display:flex;
    flex-direction:column-reverse;
    background-color:rgb(117, 101, 82);
    border-radius:25px;
}
#EntrySection{
    display:flex;
    flex-direction:column;
    margin-left:45px;
    margin-right:45px;
}
#EntryContent{
    height:50px;
}
#ButtonRack{
    display:flex;
    justify-content:space-between;
    padding:0 45px;
}
.journalEntry{
    overflow-wrap:break-word;
    word-wrap: break-word;
    white-space: normal;
}
.tablink{
    display:flex;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.tablink:hover{
    background-color:#839b83;
}
.hidden{
    display:none;
}
#viewingArea{
    display:flex;
    flex-direction:column;
}